<div class="lh-copy ph4">
  <h1 class="f1 tc tl-ns">About</h1>
  <div class="f2-ns f3 lh-copy">
    <p>
      About about about About about about About about about
      About about about
    </p>
  </div>
  <div class="measure">
    <h2 class="f2">Professionally</h2>

    What I do

    <p>
      I am a designer and builder of internet things.
    </p>

    <p>
      Sometimes that means making websites. Sometimes that means designing apps. I can get rather technical (I love rails and ember) but I prefer to focus on usability, user experience, and aesthetics.
    </p>

    <p>
      I love bringing my technical background to designing User Interfaces, and just building things in general.
    </p>

    <p>
      Who I like to work with
    </p>

    <p>
      I’m especially fond of working with anyone who wants to make the world a better place.
    </p>

    <p>
      Also, I love working with small businesses.
    </p>

    <h2 class="f2">Personally</h2>

    <p>
      I’m a disciple of Jesus Christ. Although I’ve been a Christian most of my life, really getting to know Jesus has been utterly fulfilling and transformative.
    </p>

    <p>
      This world may be hard and confusing sometimes, but His love and mercy will endure forever.
    </p>

    <h2 class="f2">Other Stuff</h2>

    <p>
      You’re more likely to find me drawing or reading that watching sports or reality shows. But I do appreciate a good many movies.
    </p>

    <p>
      I enjoy red meat, loud music, lifting weights, and being outside, and loving my family.
    </p>

    <p>
    Want to work with me?
    </p>

    <p>
      I am currently employed, but I am accepting speaking gigs and freelance jobs. Feel free to contact me for more information.
    </p>
  </div>
</div>
