<div class="lh-copy ph4">
  <h1 class="f1 tc tl-ns">About</h1>
  <div class="fr-ns">
    <img
      src="http://com-ryanlabouve-blog.s3.amazonaws.com/profile-ryan-labouve.jpg"
      class="w4 br2"
      alt="Profile Picture of Ryan LaBouve">
  </div>
  <div class="f2-ns f3 lh-copy">
    <p class="gray">
      Developer for the open web, mostly <span style="color: #f23819">Ember.js</span>, <span style="color: #cc342d">Rails</span>, and <span style="color: #f7df1e">Javascript</span>.
    </p>
  </div>
  <div class="measure">
    <h2 class="f2 mb0">Professionally</h2>

    <p>
      I build internet things.
    </p>

    <p>
      I am a driven front-end web developer that loves taking ideas and making them scale.
    </p>

    <p>
      Startups are fantastic! This is where I typically find my like-minded group of people wanting to make the world a better place.
    </p>

    <h2 class="f2 mb0">Personally</h2>

    <p>
      I love Jesus.
    </p>

    <p>
      His message captivates me at every level: heal the sick, looking beyond rich or poor, heart to restore the hurting and broken...
    </p>


    <p>
      (Though sometimes I find myself at odds with the steroytypical Christian, but I think Jesus might too?)
    </p>

    <p>
      I love my family. My wife and daughter amaze me daily. I love to be with them.
    </p>

    <h2 class="f2 mb0">Other Stuff</h2>

    <p>
      You’re more likely to find me reading or sitting outside than watching sports or reality shows. But I do appreciate a good many movies.
    </p>

    <p>
      I enjoy red meat, loud music, reading, lifting weights, running, and being outside.
    </p>

    <h3 class="f3 mb0">
      Want to work with me?
    </h3>

    <p>
      I am currently employed and love my job. Feel free to contact me for more information.
    </p>

    <p>
      Need help learning to improve as a developer? I love mentoring me. If you want to learn more reach out to me on twitter.
    </p>
  </div>
</div>
