<div class="cf mb5" data-test-article-listing>
  <div class="fr gray" data-test-date>
    {{moment-format article.date 'YYYY-MM-DD'}}
  </div>
  <div class="f2 mb2" data-test-title>
    {{article.title}}
  </div>
  <div class="lh-copy measure" data-test-description>
    {{article.description}}
  </div>
  <div class="mt2">
    <a
      data-test-article-link
      class="pa2 dib white bg-blue"
      href={{href-to 'article' article.slug}}>
      Read more
    </a>
  </div>
</div>
