<div class="">
  <h1 class="text-4xl mb-4">Projects</h1>
  {{#each model as |project|}}
    <div class="mb-4">
      <div>
        <span class="text-xl">
          {{project.title}}
        </span>
        {{#if project.url}}
          <a class="text-xs text-blue mr-2" href={{project.url}}> link</a>
        {{/if}}
        {{#if project.repo}}
          <a class="text-xs text-red mr-2" href={{project.repo}}> repo</a>
        {{/if}}
      </div>
      <div class="leading-normal text-grey">
        {{project.description}}
      </div>
      <div>
      </div>
    </div>
  {{/each}}
</div>
