<div class="p-5">
  <div class="text-gray float-right pl-3
    ">
    {{moment-format article.date "YYYY-MM-DD"}}
  </div>
  <h1 class="text-3xl text-secondary--lumen">{{article.title}}</h1>
  <div class="pb-5 max-w-2xl leading-normal text-article">
    {{safe-string article.content}}
  </div>
</div>
