<div
  class="bt b--black-10">
  <div
    class="w-80-ns mw8 center"
    >
      <div class="flex-ns flex-row items-start pv4">
        {{#site/rl-footer/rl-footer-box}}
          <div class="f4 b pv3">
            Ryan LaBouve
          </div>
          <div class="f6">
            <p>
              Ember.js &amp; Rails
            </p>
            <p>
              Disciple of Jesus Christ &amp; family man. Doer of JS &amp; maker of webs.
            </p>
          </div>
        {{/site/rl-footer/rl-footer-box}}
        {{#site/rl-footer/rl-footer-box}}
          <div class="f4 b pv3">
            Recent Article
          </div>
          <div class="f6">
          </div>
        {{/site/rl-footer/rl-footer-box}}
        {{#site/rl-footer/rl-footer-box}}
          <div class="f4 b pv3">
            Other Social Media
          </div>
          <div class="f6">
          </div>
        {{/site/rl-footer/rl-footer-box}}
      </div>
  </div>
</div>
